<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        Digi Hub
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="/home" class="active">Home</a></li>
                       
                        <li class="has-sub">
                            <a href="javascript:void(0)">Post paid</a>
                            <ul class="sub-menu">
                                <li><a routerLink="/plans">View Plans</a></li>
                                
                                
                            </ul>
                        </li>
                        <li class="has-sub">
                          <a href="javascript:void(0)">My Account</a>
                          <ul class="sub-menu">
                              <li><a href="/signup">Sign up</a></li>
                              <li><a routerLink="/login">Log in</a></li>
                              
                          </ul>
                      </li>
                        
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
