/* Style the table container */
.table-container {
    margin: 20px;
    padding-top: 70px;
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  /* Style table headers */
  th {
    background-color: #343a40; /* Dark gray for headers */
    color: #ffffff;
    padding: 10px;
    text-align: left;
  }
  
  /* Style table rows */
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray for even rows */
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff; /* White background for odd rows */
  }
  
  /* Style table cells (td) */
  td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
  }
  
  /* Add hover effect on rows for better interactivity */
  tr:hover {
    background-color: #f5a5253f; /* Light gray for hovered rows */
  }
  
  /* Style the "Send Email" button */
button {
    background-color: #4CAF50; /* Green background for the button */
    color: #000000;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ffd900ed; /* Yellow background when hovered */
    color: #000000; /* Change text color to black when hovered */
  }
  
  