<!-- ***** Header Area Start ***** -->
<header class="userheader-area userheader-sticky" style="position: fixed;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        Digi Hub
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a routerLink="/csv" class="active">Invoices</a></li>
                        <li class="scroll-to-section"><a routerLink="/viewusers">View Users</a></li>
                       
                        
                        <li class="has-sub">
                          <a href="javascript:void(0)">My Account</a>
                          <ul class="sub-menu">
                              
                              <li><a routerLink="/login">Log out</a></li>
                              
                          </ul>
                      </li>
                        
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

